<footer><img class="img_logo" src="/img/logo.png" alt="logo">
  <div class="email"><img class="img_email" src="/img/mail.png" alt="mail"><a href="mailto:naumenko.radmir@mail.ru">Связь с администрацией</a></div>
  <div class="timer"></div>
</footer>