<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Прокачка аккаунтов для игр, буст, поднятие ранга">
<meta name="keywords" content="буст, dota 2, counter-strike, genshin impact">
<meta name="author" content="Waple">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<title>World Nasanmi</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="&quot;https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&amp;family=Roboto:wght@500;700&amp;display=swap">
{{> timer }}
<script src="/js/script2.js"></script>
<script src="/js/script3.js"></script>
<script src="/js/script4.js"></script>
<!--<script src="/js/support.js"></script>-->

</head>
