<main>
  <h2 class="services_title">Наши предложения</h2>
  <section class="games">
    <section class="block_cs"><img class="img_cs" src="/img/cs.jpg" alt="cs">
      <ul class="text_cs">
        <li>Прокачка звания<strong>
          <u>CS:GO</u>
          <u>CS2</u></strong></li>
        <li>Калибровка аккаунта</li>
        <li>Прокачка Faceit ELO</li>
        <li>Набивка часов на аккаунт</li>
      </ul>
    </section>
    <section class="block_dota"><img class="img_dota" src="/img/dota.jpg" alt="dota">
      <ul class="text_dota">
        <li>Прокачка рейтинга<strong>
          <u>Dota2</u></strong></li>
        <li>Калибровка аккаунта</li>
        <li>Набивка часов на аккаунт</li>
        <li>Отыгровка Low Priority</li>
      </ul>
    </section>
    <section class="block_genshin"><img class="img_genshin" src="/img/genshin.jpg" alt="genshin">
      <ul class="text_genshin">
        <li>Фарм примогенов<strong>
          <u>Genshin Impact</u></strong></li>
        <li>Закрытие бездны</li>
        <li>Выполнение дейликов, открытие сундуков</li>
        <li>Полное закрытие ивентов</li>
      </ul>
    </section>
  </section>
  <section class="block_guarantee">
    <h2 class="guarantee_title">Мы гарантируем</h2>
    <section class="quarantee_img_text"><img class="img_guarantee" src="/img/guarantee.jpg" alt="guarantee">
      <div class="text_guarantee">
        <ul>
          <li><em>
            <u><strong>Качество. В нашей команде работают профессионалы с многолетним стажем.</strong></u></em></li>
          <li><em>
            <u><strong>Скорость. Прокачка будет выполнена в кратчайшие сроки.</strong></u></em></li>
          <li><em>
            <u><strong>Безопасноть. Ваш аккаунт не будет потерян или забанен.</strong></u></em></li>
          <li><em>
            <u><strong>Конфидициальность. Никто не узнает, о бусте/прокачке аккаунта.</strong></u></em></li>
          <li><em>
            <u><strong>Выгода. Мы предлагаем наиболее выгодные и привлекательные цены.</strong></u></em></li>
        </ul>
      </div>
    </section>
  </section>
  <section class="block_about_us">
    <h2 class="about_us_title">О нас</h2>
    <div class="text_about_us">
      <p><em>
        <u><strong>Мы предоставляем профессиональные услуги по прокачке аккаунтов в онлайн играх!</strong></u></em></p><em><strong>У нас слаженная, ответственная и довольно-таки многочисленная команда WorldNasanmi по бусту аккаунтов. Благодаря такому составу мы выполняем свою работу быстро, качественно и по доступной цене. Каждый член команды имеет большой опыт, обладант необходимыми навыками для выполнения поставленной задачи. Организацияs WorldNasanmi несет ответственность за доброкачественность выполненной работы.</strong></em>
    </div>
  </section>
  <section class="grid">
    <h2 class="grid_title">Стоимость услуг</h2>
    <table class="table_container">
      <thead>
      <tr>
        <th>CS</th>
        <th>DOTA 2</th>
        <th>GENSHIN IMPACT</th>
        <th>EVE ONLINE</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1500</td>
        <td>3000</td>
        <td>2000</td>
        <td>2100</td>
      </tr>
      <tr>
        <td>1500</td>
        <td>3000</td>
        <td>2000</td>
        <td>2200</td>
      </tr>
      <tr>
        <td>1700</td>
        <td>3100</td>
        <td>2100</td>
        <td>2300</td>
      </tr>
      </tbody>
    </table>
  </section>
</main>


<!--{{#unless signed_in}}-->
<!--  &lt;!&ndash; Login for &ndash;&gt;-->
<!--  <div class="login-wrapper">-->
<!--    <form id="login" action="/auth/login" method="post">-->
<!--      <label for="email">-->
<!--        <input placeholder="Email" type="text" id="email" name="email">-->
<!--      </label>-->
<!--      <label for="password">-->
<!--        <input placeholder="Пароль" type="text" id="password" name="password">-->
<!--      </label>-->
<!--      <input type="submit" value="Войти">-->
<!--    </form>-->
<!--  </div>-->
<!--  &lt;!&ndash; Registration form &ndash;&gt;-->
<!--  <div class="login-wrapper">-->
<!--    <form id="login" action="/auth/register" method="post">-->
<!--      <label for="email">-->
<!--        <input placeholder="Email" type="text" id="email" name="email">-->
<!--      </label>-->
<!--      <label for="password">-->
<!--        <input placeholder="Пароль" type="text" id="password" name="password">-->
<!--      </label>-->
<!--      <input type="submit" value="Регистрация">-->
<!--    </form>-->
<!--  </div>-->
<!--{{else}}-->
<!--  <div class="login-wrapper" style="margin-bottom: 8px">-->
<!--    Вы авторизованы под именем {{user_email}}&nbsp;-->
<!--    <form id="logout" action="/logout" method="post">-->
<!--      <button type='submit' name='parameter'>Выйти</button>-->
<!--    </form>-->
<!--  </div>-->
<!--{{/unless}}-->