<main>
  <form id="cardForm">
    <label for="cardTitle"></label>
    <select id="cardTitle">
      <option value="Counter-Strike 2">Counter-Strike 2</option>
      <option value="Dota 2">Dota 2</option>
      <option value="Genshin Impact">Genshin Impact</option>
    </select>

    <br>

    <div id="container">
      <label class="services" for="cardContent">Перечислите услуги и дополнительные пожелания:</label>
      <div id="cardContent" contenteditable="true"></div>
    </div>

    <br>

    <input type="submit" value="Создать заказ">
  </form>

  <div id="cardContainer"></div>
</main>