<main>
  <div class="inf-block" id="contact">
    <div>
      <ul id="messages"></ul>
    </div>
    <div>
      <input id="message" type="text" spellcheck="false" />
      <button onclick="send()">Send</button>
    </div>
  </div>
</main>
<script src="/js/support.js"></script>
