<main>
  <section class="block_img_yar"><img class="img_yar" src="/img/yar.jpg" alt="yar">
    <div class="img_yar_text">
      Военнообязанный рядовой,геншинимпактер.
    </div>
  </section>
  <section class="block_img_ruz"><img class="img_ruz" src="/img/ruz.jpg" alt="ruz">
    <div class="img_ruz_text">
      Organiser WorldNasanmi, cooker, семьянин.
    </div>
  </section>
  <section class="block_img_ren"><img class="img_ren" src="/img/ren.jpg" alt="ren">
    <div class="img_ren_text">
      Amo big boss, big papa, best cooker, top-1 minecraft player.
    </div>
  </section>
  <section class="block_img_zoro"><img class="img_zoro" src="/img/zoro.jpg" alt="zoro">
    <div class="img_zoro_text">
      Ama gangsta, imigrant, psychologist and investor WorldNasanmi
    </div>
  </section>
  <section class="block_img_my"><img class="img_my" src="/img/my.jpg" alt="my">
    <div class="img_ruz_text">
      technical specialist, big boy
    </div>
  </section>
</main>