<main>
  <div id="error_container">
    <div id="error_placeholder">⚠ Что-то пошло не так</div>
  </div>


  <h1 class="profile_title">Профиль</h1>
  <div id="loading_container">
    <div class="loading_spin"></div>
  </div>
  <div id="user_describe_container" style="display: none;"></div>
  <template id="photo_template">
    <div class="photo-card">
      <img src="" alt="">
      <p></p>
    </div>
  </template>
</main>